@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 15px;
}

body:hover::-webkit-scrollbar,
body:focus::-webkit-scrollbar {
  opacity: 1;
}
